<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Guestbook</title>
<link rel="stylesheet" type="text/css" href="assests/page1.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="/guestbook.css"> -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="container">

  <div>
   <p>Penny Black Pepper<br>
  </p>
  
  </div>
<ul>
<li id="Home"><a href="assests/Home.html">Home</a></li>
<li id="Reservations"><a href="assests/Reservation.html">Reservations</a></li>
<li id="Contact"><a href="assests/contact.html">Contact </a></li>

<li id="About"><a href="assests/About.html">About </a></li>
<li id="guestbook"><a href=/guestbook>GuestBook</a></li>
</ul>

<h1> Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>